<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

  <body>
    <%- partial('_partial/header') %>
      <main class="main">
        <div id="body">
          <div class="container">
            <%- body %>
            <%- partial('_partial/comments') %>
            <%- partial('_partial/footer') %>
          </div>
        </div>
      </main>
      <%- partial('_partial/after-footer') %>
  </body>

</html>