<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <%
        var title = page.title;

        if (is_archive()) {
            title = __('archive_a');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = __('categories') + ': ' + page.category;
        } else if (is_tag()) {
            title = __('tags') + ': ' + page.tag;
        }
    %>
    <title>
        <% if (title) { %>
            <%= title %> - <%= config.title %>
        <% } else { %>
            <%= config.title %>
        <% } %>
    </title>
    <%- css(url_for("css/ringo.css")) %>
    <%- css(url_for("css/grid.css")) %>
    <%- css(url_for("css/custom.css")) %>
    <% if (theme.favicon) { %> 
        <link rel="icon" type="image/x-icon" href="<%= url_for(theme.favicon) %> " />
    <% } %> 
</head>