<div id="sidebar" role="complementary">
    <section class="widget">
        <ul class="menu widget-list">
            <% for (name in theme.menu) { %>
                <li class="menu-item">
                    <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link">
                        <%= name %>
                    </a>
                </li>
                <% } %>
        </ul>
    </section>
    <section class="widget sidebar-foot">
        <ul class="widget-list">
            <li>Theme <a rel="nofollow" target="_blank" href="https://github.com/HeliumOI/hexo-theme-ringo">Ringo</a>
                by <a target="_blank" href="<%- url_for('/') %> "> <%= config.author %>  </a></li>
            <li><%- __('powered_by') %>  <a rel="nofollow" target="_blank" href="https://hexo.io/">Hexo</a></li>
        </ul>
    </section>
</div>